@import url(https://fonts.googleapis.com/css?family=Exo+2);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Tulpen+One);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Questrial|Roboto+Condensed:400,300,200');
/* Box colors */
.bg-1 {
    background: #ECEFF1;
    color: #37474f; }

.bg-2 {
    background: #7986cb;
    color: #ECEFF1; }

.bg-3 {
    background: #37474f;
    color: #fff; }


.backgroundImage {
    -webkit-background-size: cover;
    background-size: cover !important; }

.green-background::before {
    background: #43cea2; }

.blue-background::before {
    background: #185a9d; }

.homeContainer {
    margin: 50px; }

.centeredText {
    color: white;
    font-size: x-large; }

.utilitySelectionCard {
    color: white;
    padding: 15px; }

.appTaglineContainer {
    font-size: 34px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #ffffff;
    height: 190px;
    width: 100%; }
.appTaglineContainer .line1, .appTaglineContainer .line2 {
    padding-top: 50px; }
.appTaglineContainer .line2 {
    padding: 20px; }
.appTaglineContainer .line3 {
    font-size: 20px; }

.green {
    color: #50f5c0; }

.loginButton, .signupButton {
    padding-top: 40px; }

.loginContainer {
    border-radius: 4px;
    height: 250px;
    width: 350px;
    margin: 0 auto;
    background: rgba(246, 246, 246, 0.2); }

.bannerContainer {
    width: 100%;
    height: 110px;
    background-size: cover;
    padding-top: 20px; }
.bannerContainer i {
    font-size: 24px; }

.loggedIn {
    padding-top: 25px; }

.bannerTextContainer {
    text-align: left;
    font-size: 28px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 500;
    padding: 15px;
    color: #ffffff;
    margin: 0 auto; }

.navigationContainer {
    height: 30px;
    background: rgba(0, 0, 0, 0.51); }

.userInfoPanel, .readingPanel, .easternPanel {
    height: 560px;
    padding: 0px; }

.innerPanelRight {
    border-radius: 3px;
    background: rgba(246, 246, 246, 0.31);
    margin: 15px;
    margin-left: 0px;
    height: 100%; }

.innerPanelMiddle {
    border-radius: 3px;
    background: rgba(246, 246, 246, 0.31);
    padding-top: 5px;
    margin: 15px;
    height: 100%; }

.innerPanelLeft {
    border-radius: 3px;
    background: rgba(246, 246, 246, 0.31);
    margin: 15px;
    margin-right: 0px;
    height: 100%; }

.blur {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    width: 100px;
    height: 100px;
    background-color: #ccc; }

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

.clearfix {
    display: inline-block; }

html[xmlns] .clearfix {
    display: block; }

* html .clearfix {
    height: 1%; }

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

.backgroundImage {
    height: 100%;
    width: 100%;
    background-size: cover;
    position: fixed;
    z-index: -1;
    filter: blur(5px); }

.card-container {
    border: 1px solid black;
    border-radius: 3%;
    width: 175px; }

.button {
    display: inline-block;
    border-radius: 2px;
    border: none;
    height: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer; }

.button.sm {
    width: 10%; }

.button.md {
    width: 20%; }

.button.lg {
    width: 40%; }

.button.ghost {
    background-color: transparent;
    color: #fefcff;
    border: 1px solid #fefcff;
    -webkit-transition: .2s ease;
    transition: .2s ease; }

.button.ghost:hover {
    background-color: #7e7c7f;
    color: white;
    -webkit-transition: .2s ease;
    transition: .2s ease; }

.button.cta {
    background-color: rgba(0,0,0,0.6);
    color: white;
    -webkit-transition: .2s ease;
    transition: .2s ease; }

.button.cta:hover {
    background-color: #c7c7c7;
    -webkit-transition: .2s ease;
    transition: .2s ease; }

::-webkit-input-placeholder { /* Chrome */
    /*color: #fefcff;*/
    color: #2e2e2e;
}
::-webkit-scrollbar {
    width: 12px; }

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px; }

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }
.userCard {
    padding: 5px; }

.profilePicture {
    margin: 0 auto; }

.nameContainer {
    font-size: 20px; }

.tagLineContainer {
    margin: 5px; }

.socialMediaContainer {
    color: rgba(48, 48, 48, 0.91); }

.userStats {
    margin-top: 40px; }

.stat {
    padding-top: 20px;
    padding: 10px; }
.stat .inner {
    line-height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #000000;
    background: rgba(255, 255, 255, 0.2); }

.relatedUsers {
    padding-left: 25px; }

.relatedUser {
    margin: 0 auto;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.51);
    border: solid rgba(255, 255, 255, 0.79) 3px; }

.articleCard {
    padding-top: 10px;
    margin: 10px;
    height: 100px;
    background: rgba(255, 255, 255, 0.2); }
.articleCard .inner {
    margin: 0 auto; }
.articleCard .container {
    padding-top: 35px; }
.articleCard .articleTitle {
    font-size: 22px;
    font-family: Oswald,sans-serif;
    font-weight: 300; }

.circularBorder {
    font-size: 28px !important;
    height: 100px !important;
    width: 100px !important;
    border-radius: 50% !important;
    line-height: 50px !important;
    border: solid rgba(255, 255, 255, 0.79) 3px; }

.roboto-font {
    font-family: 'Roboto Condensed', sans-serif;
}

.exo-font {
    font-family: 'Exo 2', sans-serif;
    font-size: 22px; }

.add-food-item-panel {
    margin: 20px; }

.expirationBar {
    height: 20px;
    width: 80%; }

/*# sourceMappingURL=Orga.css.map */
